@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
ul,li,ol{list-style:none;}
a{text-decoration:none;color:#353334;}
img{border:0;display: block;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal;}
i,em{font-style:normal;}
body{font-size:12px;font-family:"微软雅黑";}
.left{float:left;}
.right{float:right;}
.clear{clear:both;height:0;overflow:hidden;}
#title_wrap,#header_img,#banner_wrap{width:100%;}
#title,#header_img img,#logo,#nav,#banner{width:1190px;margin: 0 auto;}
/*----------------title---------------*/
#title_wrap{
	height: 30px;
	background: #f7f7f7;
	border-bottom:1px solid #e9e9e9;
	border-top:1px solid #fff;
	position:relative;
	line-height: 30px;
}
.title_Pleft{
	height: 30px;
	float:left;
	background:url(../images/top1.png) no-repeat 0 center;
	position:relative;
}
.title_Pleft span:nth-child(1){
	border-right:1px solid #ccc;
	padding: 0 12px 0 18px;
}
.title_Pleft span:nth-child(2) a:nth-child(1){
	padding-left: 10px;
	background: url(../images/top3.jpg) no-repeat 65px;
	width:72px;
	display: inline-block;
}
.posi{
	display: none;
	width:248px;
	height:64px;
	position: absolute;
	left:225px;
	top:30px;
	background: #fff;
	padding-left:30px;
}
.posi>p span{
	line-height: 30px;
	padding-right:30px;
}
.title_Pleft span:nth-child(2) a:nth-child(1):hover{
	background:#fff url(../images/top3.jpg) no-repeat 65px;
}
.title_Pleft span:nth-child(2) a:nth-child(2){
	padding:0 10px;
}
.title_right{
	float: right;
	position:relative;
}
#myBailian_list{
	width:84px;
	height:152px;
	background: #fff;
	position:absolute;
	left:182px;
	top:30px;
	text-align: center;
	display: none;
	z-index: 10;
}
#myBailian_list>span{
   display: block;
}
#myChongzhi_list{
	display: none;
	position: absolute;
	left:0px;
	top:30px;
	width: 692px;
	height: 158px;
	z-index: 10;
}
#myChongzhi_list>ul{
	width:100px;
	height: 138px;
	padding:0 10px;
	float:left;
	background: #fff;
}
#myChongzhi_list>ul li{
}
#myChongzhi_list>ul li:nth-child(1){
	font-size:14px;
	font-weight: 600;
}
#myKefu_list{
	display: none;
	position: absolute;
	top:30px;
	left:345px;
	width:84px;
	height: 60px;
	text-align: center;
	background: #fff;
}
#myKefu_list>span{
	display: block;
}
#myZhangshang_list{
	display: none;
	width:143px;
    height: 166px;
    background: #fff;
    text-align: center;
    position: absolute;
    left:400px;
    top:30px;
}
#myZhangshang_list>img{
	margin:20px 0 0 20px;
}
#myZhangshang_list>span{
	display: block;
}
.title_right li{
	float:left;
}
.title_right li a{
	border-left: 1px solid #ccc;
	padding-left:8px;
	
}
.title_list{
	width:82px;
	background: url(../images/top3.jpg) no-repeat 65px;
}
.title_list:hover{
	background:#fff url(../images/top3.jpg) no-repeat 65px;
}
.listNone{
	text-align: center;
	background:none;
}
.listNone:hover{
	background:none;
}
.login{
	background: url(../images/top2.png) no-repeat 0 center;
}
#title .login a{
	padding-left:20px ;
	border:none;
}
#title .login a a{
	
	padding-left:20px;
}
/*--------------logo-------------------*/
#logo{
	height: 96px;
}
.logo_left{
	float: left;
	margin-right: 65px;
}
.logo_center{
	float: left;
	position: relative;
}
.logo_center form{
	width:470px;
	height:35px;
	margin:24px 0 5px 0;
	border: 2px solid #d93738;
}
.form_list{
    position: absolute;
    left:0;
    top:35px;
    width: 396px;
    background: #fff;	
}
.txt{
	color:#999;
	padding-top:4px ;
	text-indent: 12px;
	float: left;
	width: 396px;
	height: 31px;
	border:none;
}
.btn{
	border: none;
	float: left;
	width:74px;
	height: 35px;
	border: none;
	background:#d93738 url(../images/logo2.jpg) no-repeat center;
}
.logo_center_p span{
	margin:0 5px;
}	

.logo_center_p span a{
	border-right:1px solid #ccc;
	padding-right:5px ;
	color:#999;
}
.logo_center_p span a:hover{
	color:red;
	text-decoration:underline ;
}
.logo_right{
	margin-top: 24px;
	width: 215px;
	float: right;
	height: 35px;
	line-height: 35px;
	text-align: center;
}
.logo_right_con{
	color: #666;
	height: 35px;
    width:124px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: url(../images/logo_right.png) no-repeat 113px;
}
/*--------------------------nav------------------*/
#nav_wrap{
	width:100%;
	height: 35px;
	background: #000;
	margin:0 auto;
}
#nav{
	width:1190px;
	height: 35px;
	position: relative;
}
#nav> ul li{
	float: left;
}

#nav> ul li a{
	display: block;
	font-size: 15px;
	line-height: 35px;
	height: 35px;
	padding:0 28px;
	color:#FFF;
	font-weight:600 ;
}
#nav> ul li a:hover{
	background: red;
}
#nav> ul .nav_all{
	width:190px;
	height: 35px;
	font-weight:normal;
}
#nav> ul .nav_all{
	margin-right: 15px;
}
#nav> ul .nav_all a{
	font-size:13px;
}
#nav> ul .nav_all a .iconfont{
	margin-left:20px;
}
#nav> ul .nav_all a:hover{
	background: #000;
}
#nav_show{
	display:none;
 	z-index: 1;
	width:190px;
	height: 430px;
	position: absolute;
	left:0;
	
	background:rgb(00,00,00);
	opacity: 0.5;
}
#nav_show ul{
	margin-top: 5px;
}
#nav_show .nav_list li{
	height: 30px;
	width: 190px;
}
#nav_show .nav_list li a{
	color:#fff;
	font-size: 13px;
	display: block;
	height: 28px;
	line-height: 28px;
	font-weight: normal;
}
#nav_show .nav_list li:hover a{
	
	background:#888;
	color:#fff;
}
#nav_show .iconfont{
	margin-right: 10px;
	margin-left:10px;
}

/*------nav_con显示与隐藏----------------------- */
#nav_box{
	width:1190px;
	height: 430px;
	position: absolute;
	left:0;
	top:35px;
}
#nav_con{
	width:990px;
	height:430px;
	position:absolute;
	left:190px;
	/*z-index:3000;*/
	position: relative;
		
}
#nav_con>div{
	width:990px;
	height: 432px;
	background: #FFF;
	padding-left:10px;
	position: absolute;
	left:0;
	top:0;
	display:none;
}
#nav_con div ul{
	width:732px;
	height: 432px;
	margin-top:10px;
	float: left;
}
#nav_con div ul li{
	width:725px;
	line-height: 35px;
	border-bottom: 1px dashed #ccc;
}
#nav_con div ul li h5{
	display: inline-block;
	margin-right: 20px;
	font-weight: 900;
}
#nav_con div ul li span a{
	font-size: 12px;
	font-weight: 300;
	padding:0 5px;
}
#nav_con div p{
	float: left;
}
#nav_con div p img:nth-child(1){
	
	margin-bottom: 8px;
}
/*-----------------all------------*/
#all{
	width:1190px;
	height: 54px;
	border-bottom:2px solid #000;
	margin:0 auto;
	line-height: 54px;
}
#all .all_qubu{
	float:left;
	font-size: 15px;
}
#all .all_form{
	float:left;
	width:163px;
	height: 26px;
	margin:15px 0 0 15px;
	border:1px solid #ccc;
}
#all .all_form input:nth-child(1){
	float:left;
	border:none;
	width:125px;
	height: 22px;
	text-indent: 12px;
}
#all .all_form .butt{
	float:left;
	height: 22px;
	width: 22px;
	border:none;
	background: url(//img.iblimg.com/respc-1/resources/v4.0/css/i/select-button.png) no-repeat center center;
	margin:3px 0 0 10px;
}
#all .all_p{
	float:right;
}

/*-----------------品牌------------*/
#pinpai{
	width:1190px;
	height:128px;
	border-bottom: 1px solid #888;
	margin:0 auto;
}
#pinpai .pinpai_p1{
	width:100px;
	height: 128px;
	background: #ccc;
	float: left;
}
#pinpai .pinpai_p1 i{
	float:right;
	margin:10px 10px 0 0 ;
}
#pinpai .pinpai_p2{
    width:925px;
	height: 128px;
	float: left;
	margin-left:10px;
}
#pinpai .pinpai_p2 span{
	float: left;
	display: block;
	width:110px;
	height: 50px;
	border:1px solid #ccc;
	margin:5px 5px;
	position: relative;
	text-align: center;
	line-height: 50px;
}
#pinpai .pinpai_p2 span img{
	width:110px;
	height: 50px;
	position: absolute;
	left:0;
	top:0;
	
}
#pinpai .pinpai_p2 span i{
	width:110px;
	height: 50px;
	display:block;
	position: absolute;
	left:0;
	top:0;
	background:orange;
	display: none;
}
#pinpai .pinpai_p3{
	height: 128px;
	float: right;
	width:50px;
	height: 20px;
	background: #ccc;
	margin:10px 0 0 10px;
	text-align: center;
}
#more{
	width:1190px;
	height:33px;
	border-bottom: 1px solid #888;
	margin:0 auto;
}
#more>p:nth-child(1){
	width:100px;
	height: 33px;
	background: #ccc;
	float: left;
	line-height: 33px;
	margin-right: 20px;
}
#more>p:nth-child(2){
	line-height: 33px;
}
#more>p:nth-child(1) i{
	margin-left:30px;
}
#sel{
	width:1190px;
	margin:20px auto;
	height: 36px;
}
#sel ul{
	float:left;
}
#sel ul li{
	float:left;
}
.sel_d1 li{
	float: left;
	width:80px;
	height: 36px;
	border:1px solid #ccc;
	border-right: none;
	background: #eee;
	border:1px solid #ccc;
	line-height: 36px;
	text-align: center;
}

.sel_d2{
	margin-left:10px;
	width:164px;
	height: 34px;
	border:1px solid #ccc;
	padding:5px 0 0 5px;
	background:#eee;
	margin-right: 10px;
}
.sel_d2 li:nth-child(1){
	width:70px;
	height: 26px;
	border:1px solid #ccc;
	line-height: 26px;
	text-align: center;
	background: #fff;
}
.sel_d2 li:nth-child(3){
	width:70px;
	height: 26px;
	border:1px solid #ccc;
	line-height: 26px;
	text-align: center;
	background: #fff;
}
.sel_d2 li:nth-child(2){
	line-height: 30px;
	margin:0 3px;
	
}
.sel_d3{
	width:580px;
	height: 36px;
	float:left;
	border:1px solid #ccc;
	line-height: 36px;
	text-align: center;
}
.sel_d3 li{
	margin-left:10px;
}
/*---------------con--------------*/
#con{
	width:1190px;
	margin:30px auto;
	
}
.con_ul{
	margin-left:25px;
}
.con_ul li{
	width:230px;
	padding: 15px;
	border: 1px solid #ccc;
	float: left;
	margin-bottom: 20px;
	margin-right: 15px;
}
#con li img{
	width:220px;
	height: 220px;
}
#con li p:nth-child(1){
	font-size: 14px;
	color:red;
	line-height: 26px;
}
#con li .con_p2{
	font-size: 12px;
	line-height: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width:value;
}
#con li .con_p3{
	font-size: 12px;
	line-height: 20px;
	color: red;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width:value;
}
#con li .con_btn{
	width:200px;
	height: 36px;
	border:1px solid red;
    font-size:22px ;
    background: #fff;
}