@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
ul,li,ol{list-style:none;}
a{text-decoration:none;color:#353334;}
img{border:0;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal;}
i,em{font-style:normal;}
body{font-size:12px;font-family:"微软雅黑";}
.left{float:left;}
.right{float:right;}
.clear{clear:both;height:0;overflow:hidden;}
/* top */

